.mainContainer {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100vh;
   position: relative;
}


.sideDetailContainer {
   width: 80%;
   padding: 20px 0 10px 0;
}

@media(max-width: 730px) {

   .sideDetailContainer {
      display: none;
   }

   .ordersListContainer {
      width: 100%;
   }
}